/* TAB BAR ------------------------------------------------------------------------------------------------- */
:root {
  /* variable for tabs below navigation toolbar option */
  --tab_below_navigation_toolbar_bottom_padding: calc( var(--tab-min-height) + 0.5px ) !important;

  /* variable for tabs below main content option */
  --tab_below_main_content_bottom_margin: calc(3px + var(--tab-min-height)) !important;
  --tab_below_main_content_toolbar_height: calc(2px + var(--tab-min-height)) !important;
  --tab_below_main_content_top_margin: 0px !important;

  /* tab loading icon color */
  --tab_default_loading_icon_color: #669900;
}

/* sets the height of the tab toolbar
otherwise will change height when tabs overflow */
#TabsToolbar {height: 33px !important;}
:root{
  --tab-min-height: 33px !important;
}

/* make tabs look like tabs again */
.tab-background {
  border-radius: 0px !important;
  margin-block: 0px !important;
}

.tab-background[multiselected=true],
.tab-background[selected=true] {
  background-color: var(--toolbar-bgcolor) !important;
  background-image: var(--toolbar-bgimage) !important;
}

/* remove left and right tab spaces */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0px !important;
}

.tabbrowser-tab {
  padding-inline: 0px !important;
  border-radius: 0px !important;
}

/* adjust 'new tab' tab */
#tabs-newtab-button {
  padding-inline: 1px !important;
  border-radius: 0px !important;
}

#tabs-newtab-button .toolbarbutton-icon {
  border-radius: 0px !important;
}

/* reduce scrollbuttons size */
#scrollbutton-up,
#scrollbutton-down {
  padding: 0 !important;
  border-radius: 0 !important;
}

/*tab line for active tab */
.tabbrowser-tab .tab-context-line {
  height: 2px !important;
  border-radius: 0px !important;
}

.tabbrowser-tab[selected]:not([usercontextid]) .tab-context-line {
  background-color: Highlight !important;
}

#main-window:not([lwtheme-image="true"]):not([lwtheme-mozlightdark]):-moz-lwtheme .tabbrowser-tab[selected]:not([usercontextid]) .tab-context-line {
  background-color: var(--tab-line-color,Highlight) !important;
}

.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-context-line {
  margin: unset !important;
  background-color: var(--identity-icon-color) !important;
}

/* border between navigation toolbar and tabs toolbar */
#nav-bar:not(:-moz-lwtheme) {
  box-shadow: 0 calc(-1 * var(--tabs-navbar-shadow-size)) 0 var(--chrome-content-separator-color) !important;
}

#nav-bar:-moz-lwtheme {
  box-shadow: unset !important;
}

/* Tab separators: modified Fx88s browser.css code */
.titlebar-spacer[type="pre-tabs"] {
  border-inline-end: 1px solid var(--lwt-background-tab-separator-color, currentColor);
  opacity: 0.2;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: 1px solid var(--lwt-background-tab-separator-color, currentColor);
  margin-block: 5px 4px;
  opacity: 0.3;
}

.tabbrowser-tab::before {
  margin-inline-start: -1px;
}

:root[tabsintitlebar]:not([extradragspace]) #toolbar-menubar[autohide=true] + #TabsToolbar .tabbrowser-tab::after,
.tabbrowser-tab:hover::after,
#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[beforehovered]::after,
.tabbrowser-tab[multiselected]::after,
#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[before-multiselected]::after {
  margin-top: var(--tabs-top-border-width);
  margin-bottom: 0;
}

#tabbrowser-tabs:not([movingtab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[beforeselected-visible]::after,
#tabbrowser-tabs[movingtab] > #tabbrowser-arrowscrollbox > .tabbrowser-tab[visuallyselected]::before,
.tabbrowser-tab[visuallyselected]::after {
  border-color: var(--tabs-border-color);
  margin-top: 0;
  margin-bottom: var(--tabs-navbar-shadow-size);
  opacity: 0.1;
}

.tabbrowser-tab::after,
#tabbrowser-tabs[movingtab] > #tabbrowser-arrowscrollbox > .tabbrowser-tab[visuallyselected]::before {
  content: "";
  display: block;
}

/* remove active tabs left and right tab border color when using lw-themes */
:root:not([lwtheme-mozlightdark]) #TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected=true], [multiselected]) > .tab-stack > .tab-background:-moz-lwtheme,
:root:not([lwtheme-mozlightdark]) #TabsToolbar[brighttext] #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected=true], [multiselected]) > .tab-stack > .tab-background:-moz-lwtheme {
  box-shadow: unset !important;
}

/* Loading color change */
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab:not([visuallyselected=true]) {
  --tab-loading-fill: var(--tab_default_loading_icon_color) !important;
}
.tab-throbber[busy]::before,
.tab-throbber[progress]::before {
  fill: var(--tab_default_loading_icon_color) !important;
}

.tab-background:is([selected], [multiselected]):-moz-lwtheme {
  border: 0 !important;
}

/* Move tab line to the bottom of the tab */
.tab-background{-moz-box-direction: reverse}

/* neighbouring tabs should "pinch" together */
.tabbrowser-tab {padding-inline: 0 !important;}

/* Tab bar goes below URL bar */
:root{ --uc-titlebar-padding: 0px; }
@media  (-moz-os-version: windows-win7),(-moz-os-version: windows-win10){
  :root[sizemode="maximized"][tabsintitlebar]{ --uc-titlebar-padding: 8px }
}

#toolbar-menubar[autohide="true"] > .titlebar-buttonbox-container,
#TabsToolbar > .titlebar-buttonbox-container{
  position: fixed;
  display: block;
  top: var(--uc-titlebar-padding,0px);
  right:0;
  height: 40px;
}

:root[uidensity="compact"] #TabsToolbar > .titlebar-buttonbox-container{ height: 32px }
#toolbar-menubar[inactive] > .titlebar-buttonbox-container{ opacity: 0 }
#navigator-toolbox{ padding-top: var(--uc-titlebar-padding,0px) !important; }
.titlebar-buttonbox-container > .titlebar-buttonbox{ height: 100%; }
#titlebar{
  -moz-box-ordinal-group: 2;
  -moz-appearance: none !important;
  --tabs-navbar-shadow-size: 0px;
}

.titlebar-placeholder,
#TabsToolbar .titlebar-spacer{ display: none; }
/* Also hide the toolbox bottom border which isn't at bottom with this setup */
#navigator-toolbox::after{ display: none !important; }

@media (-moz-gtk-csd-close-button){ .titlebar-button{ -moz-box-orient: vertical } }

/* These exist only for compatibility with autohide-tabstoolbar.css */
toolbox#navigator-toolbox > toolbar#nav-bar.browser-toolbar{ animation: none; }
#navigator-toolbox:hover #TabsToolbar{ animation: slidein ease-out 48ms 1 }
#TabsToolbar > .titlebar-buttonbox-container{ visibility: visible }
#navigator-toolbox:not(:-moz-lwtheme){ background-color: -moz-dialog }

/* NAV BAR ---------------------------------------------------------------------------------------------------- */

/* reduce height of navbar/urlbar to remove unnecessary white space
and more closely match the height of quantum's compact density */
#nav-bar {height: 40px !important;}

:root{
  /* reduce padding between menu items */
  --arrowpanel-menuitem-padding: 6px 8px !important;
  --arrowpanel-menuitem-margin: 0 4px !important;
  --panel-subview-body-padding: 4px 0 !important;
  /* rectangular tabs */
  --tab-border-radius: 0 !important;
}

.tabbrowser-tab:not([last-visible-tab]) {
margin-inline-end: -0.5px !important;
}

/* Compact URL Bar */
#urlbar[breakout]{
  margin-inline-start: 0px !important;
  width: 100% !important;
  left: 0 !important;
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
}
#urlbar[breakout]:not([open]){ bottom: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important; }
.urlbarView{ margin-inline: 0 !important; width: auto !important; }
.urlbarView-row{ padding: 0 2px !important; }
.urlbarView-row-inner{ padding-inline-start: 4px !important; }
#urlbar-background{ animation: none !important; }
#urlbar-input-container{ padding: 0 !important; height: 100% !important; }
#identity-icon{ margin-block: var(--urlbar-icon-padding) }
.urlbarView > .search-one-offs:not([hidden]){ padding-block: 0px !important; }
@media (-moz-proton){ #urlbar-input-container{ padding: 1px !important; } }

/* GTK CONFORMITY --------------------------------------------------------------------------------------------- */

/*= GTK - URL View url accent color ========================================*/
  @media (-moz-gtk-csd-available) {
    :root:not(:-moz-lwtheme) .urlbarView-url {
      --urlbar-popup-url-color: -moz-accent-color;
    }

/*= Linux- Global Menubar Active Color =====================================*/
  @media (-moz-gtk-csd-available) {
    #main-menubar > menu[open="true"],
    #main-menubar > menu[_moz-menuactive="true"] {
      color: inherit !important; /* Original: -moz-menubarhovertext */
      background-color: color-mix(in srgb, currentColor 20%, transparent) !important; /* Original: -moz-menuhover */
    }
  }

/* MENU ------------------------------------------------------------------------------------------------- */

/* Reduce padding */
:root {
    --menu-padding: 0.35em; /* Win7, 8: 0px */
}
:root[uidensity="compact"] {
    --menu-padding: 0.25em;
}
  :root[uidensity="touch"] {
    --menu-padding: 0.5em;
}
menupopup > menuitem,
menupopup > menu {
  /* Original: 0.5em */
  padding-block: var(--menu-padding) !important;
}
menupopup > menu {
  padding-inline-start: 0.5em;
}

@supports not -moz-bool-pref("layout.css.osx-font-smoothing.enabled") {
  :root:not([uidensity="touch"]) .menu-text,
  :root:not([uidensity="touch"]) .menu-iconic-text {
    padding-inline-end: 0 !important; /* Original: 2px */
  }
  :root:not([uidensity="touch"]) .menupopup-arrowscrollbox {
    padding-block: 1px !important; /* Original: 4px*/
  }
  :root:not([uidensity="touch"]) #context-navigation:not([hidden]) {
    padding: 0 0 1px !important; /* Original: 0 0 4px*/
  }
  :root:not([uidensity="touch"]) .menu-right {
    margin-right: 6px !important; /* Original: 12px */
  }
}

/* Arrow Icon Align to Right */
.bookmark-item.subviewbutton > .menu-right {
  margin-inline-end: 0 !important;
}

/* Color */
html#main-window menupopup {
  /* is same as toolbar color */
  --menu-color: var(--arrowpanel-color, var(--in-content-page-color)) !important;
  --menu-background-color: var(--arrowpanel-background, var(--in-content-button-background)) !important;

  --menu-border-color: var(
    --toolbarbutton-active-background,
    var(--button-active-bgcolor, var(--card-outline-color))
  ) !important;
  --menuitem-hover-background-color: var(
    --toolbarbutton-hover-background,
    var(--button-hover-bgcolor, var(--in-content-button-background-hover))
  ) !important;

  --menu-disabled-color: color-mix(in srgb, var(--menu-color) 40%, transparent) !important;
  --menuitem-disabled-hover-background-color: color-mix(
    in srgb,
    var(--menuitem-hover-background-color) 40%,
    transparent
  ) !important;
}

@media not all and (-moz-gtk-csd-available) {
  window:is(#bookmarksPanel, #history-panel)[lwt-sidebar="true"] menupopup {
    --panel-color: var(--lwt-sidebar-text-color, var(--menu-color)) !important;
    --panel-background: var(--lwt-sidebar-background-color, var(--menu-background-color)) !important;
  }
  window:is(#bookmarksPanel, #history-panel)[lwt-sidebar="true"] menu[_moz-menuactive="true"]:not([disabled="true"]),
  window:is(#bookmarksPanel, #history-panel)[lwt-sidebar="true"]
    menuitem[_moz-menuactive="true"]:not([disabled="true"]) {
    --menuitem-hover-background-color: color-mix(
      in srgb,
      currentColor 17%,
      transparent
    ); /* Looks like toolbar button */
    /* or var(--lwt-sidebar-highlight-background-color)
       If this value is used, unset is required in the default theme.
    */
  }
}

/* Fallback background */
menupopup:not(.cui-widget-panel.cui-widget-panelview, [placespopup="true"]) {
  background-color: var(--lwt-accent-color, var(--in-content-page-background)) !important;
}

/* Default theme color preservation */
:root[lwtheme-mozlightdark] menupopup:not(#BMB_bookmarksPopup, [placespopup="true"]),
:root[lwtheme-mozlightdark] menupopup:is(#goPopup, #bookmarksMenuPopup) {
  --menu-color: var(--toolbar-color, var(--in-content-page-color)) !important;
  --arrowpanel-background: var(
    --toolbar-bgcolor,
    var(--in-content-button-background)
  ) !important; /* --menu-background-color */
}
@media not all and (-moz-gtk-csd-available) {
  window:is(#bookmarksPanel, #history-panel)[style*="--newtab-background-color: rgba(249, 249, 251, 1);"] menupopup, /* Default Light Mode */
  window:is(#bookmarksPanel, #history-panel)[style*="--newtab-background-color: rgba(43, 42, 51, 1);"]    menupopup {
    /* Default Dark Mode */
    --panel-color: var(--menu-color) !important;
    --panel-background: var(--menu-background-color) !important;
  }
}
